* {
    box-sizing: border-box;
    margin: 0;
  }
 

html {
    position: relative;
    height: 100%;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    line-height: 1.5;
    margin: 0px;
    background-image: url("../images/pixel_weave.png");
    height: 100%;
    overflow: scroll;
        
}

  h1, h2, h3, p {  
  margin-bottom: 20px;
  }


h1, h2, h3 {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    color: #4aaaa5;
}


a:link {
    color: #777777;
}


a:visited {
    color:#777777;
}


a:hover {
    color: #77777;
}


a:active {
    color:#777777;
}

.navbar	{
    height: 100px;
    background-color: #ffffff;
    border-bottom: 3px;
    border-bottom-color: #cccccc;
    border-bottom-style: solid;
    padding: 0 0 0 3rem;
}

.navbar-header {
    height: 100px;

} 

.navcontainer {
    height: 100px;
    width: 100%;
}

.navbar-brand {
    min-height: 100%;
    background-color: #4aaaa5;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    font-size: xx-large;
    padding-top: 25px;
    color: white !important;
    width: 250px;
    text-align: center;

}

.page-wrap {
    min-height: 100%;
    margin-bottom: -100px;
}

.page-wrap:after {
    content: "";
    display: block;
}

.site-footer, .page-wrap:after {
    height: 100px;


}

.site-footer {
    clear: both;
    line-height: 60px;
    background-color: #777777;
    text-align: center;
    color: #ffffff;
    margin-top: 30px;
    border-top-color: #4aaaa5;
    border-top-width: thick;
    border-top-style: solid;
    overflow: auto;
}


.main { 
    position: relative;
    margin-top: 75px;
    padding: 30px;
    background-color: #ffffff;
    border: 1px solid #dddddd;

}

.floatimg {
    float: left;
    max-width: 120px;
    margin: 10px;

}

.sidebar {
    float: right;
    width: 100%;
    max-width: 270px;
    margin-top: 75px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    text-align: center;
    
}
    
.social {
    align-content: space-between;

}

.work {
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 0px 25px 20px;
    overflow: auto;
  }
  
.work:nth-child(even){
    margin-right: 40px;
  }
  
  .work img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
  }
  
  .work h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
  }
  
/**
.footer {
    clear: both;
    position: absolute;
    height: 100px;
    bottom: 0;
    width: 100%;
    line-height: 60px;
    background-color: #777777;
    text-align: center;
    color: #ffffff;
    margin-top: 30px;
    border-top-color: #4aaaa5;
    border-top-width: thick;
    border-top-style: solid;
    overflow: auto;
}
**/

@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}


@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}